<h2 class="style_titles">Compra Premiada</h2><br />
<div class="saude-center">
  <%= lightbox_image_tag( "compra2_small.jpg", "/images/compra2.jpg", :rel => "lightbox[group]") %>
  <%= lightbox_image_tag( "compra_small.jpg", "/images/compra.jpg", :rel => "lightbox[group]") %>
</div>

<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>