  <ul class="menu_sobre_exp">
    <li><%= link_to "Contrato Expositor", "/documents/contrato_expositor.pdf" %></li>
    <li><%= link_to "Reserve seu Espaço", new_contact_path %></li>
  </ul><br>

<div id="pnlExpositores">
  <%= image_tag("feira.jpg") %>

  <p class="texto_exp">
    Sempre de olho no potencial empreendedor da região, a Acisai realiza a cada 02 anos a EXPOIBIAÇÁ. Uma feira que a cada edição vem reafirmando a sua missão: Estimular negócios. A IX edição da feira conta com uma organização diferenciada e programação exclusiva, além de uma ampla campanha de marketing. Durante os três dias da feira estima-se que mais de 10000 visitantes circulem pelos pavilhões. Amigo empresário, essa é a oportunidade de mostrar o seu produto ou serviço para um publico diferenciado. A EXPO IBIAÇÁ 2009 representa negócios e oportunidades. Sua empresa não pode ficar de fora desse grande evento. Shows, gastronomia, entretenimento, cultura e “Grandes Negócios Esperam por Você”.
    Entre em contato agora mesmo e garanta o seu espaço.
  </p>
  <br />


<table border="0" class="superior">
	<tr>
		<td></td>
		<th>Expositores parte superior</th>
		<th>Fone</th>
	</tr>
	<tr class="even">
		<td>01</td>
		<td>Acisai</td>
		<td>3374 1239</td>
	</tr>
	<tr class="odd">
		<td>02</td>
		<td>Prefeitura Municipal de Ibiaçá</td>
		<td>3374 1177</td>
	</tr>
	<tr class="even">
		<td>03</td>
		<td>Móveis Seben</td>
		<td></td>
	</tr>

	<tr class="odd">
		<td>04</td>
		<td>Móveis Seben</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>05</td>
		<td>Móveis Seben</td>
		<td></td>
	</tr>
	<tr class="odd ">
		<td>06</td>
		<td>Panosul</td>
		<td>3374 1312</td>
	</tr>
	<tr class="even">
		<td>07</td>
		<td>Imagem Sinalização</td>
		<td>3374 1382</td>
	</tr>
	<tr class="odd">
		<td>09</td>
		<td>Dorvalindo Perondi Engenharia</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>10</td>
		<td>Comercial Carra</td>
		<td>3374 1512</td>
	</tr>
	<tr class="odd">
		<td>11</td>
		<td>Sorvtchê</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>12</td>
		<td>D`rossi Massas</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>14</td>
		<td>Banco do Brasil</td>
		<td>3374 1122</td>
	</tr>
	<tr class="even">
		<td>15</td>
		<td>Sementes Carra</td>
		<td>3374 1159</td>
	</tr>
	<tr class="odd">
		<td>16</td>
		<td>Zanini Eletro</td>
		<td>3374 1696</td>
	</tr>
	<tr class="even">
		<td>17</td>
		<td>Zanini Eletro</td>
		<td>3374 1696</td>
	</tr>
	<tr class="odd">
		<td>18</td>
		<td>Auto Elétrica Cavalli</td>
		<td>3374 1254</td>
	</tr>
	<tr class="even">
		<td>19</td>
		<td>Sol Modas</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>20</td>
		<td>Agropibi</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>21</td>
		<td>GS Móveis</td>
		<td>3374 1170</td>
	</tr>
	<tr class="odd">
		<td>22</td>
		<td>Agropecuária Novo Milênio</td>
		<td>3374 1067</td>
	</tr>
	<tr class="even">
		<td>23</td>
		<td>Panisson Calçados e Confecções</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>24</td>
		<td>Bianchini Empreendimentos</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>26</td>
		<td>Sicredi</td>
		<td>3374 1133</td>
	</tr>
	<tr class="odd">
		<td>27</td>
		<td>Zappa Computadores</td>
		<td>3374 1687</td>
	</tr>
	<tr class="even">
		<td>28</td>
		<td>MS Confecções</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>29</td>
		<td>Geovana Moda Infantil</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>30</td>
		<td>JDM Peças e Acessórios LTDA</td>
		<td>3374 1019</td>
	</tr>
	<tr class="odd">
		<td>31</td>
		<td>Paulo Motos</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>32</td>
		<td>Malharia e Confecções Zanchetta</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>33</td>
		<td>Saúde Center Clínica</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>34</td>
		<td>Pietrobon Eletrodomésticos</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>35</td>
		<td>Pellin & Hubler</td>
		<td></td>
	</tr>
	
	<tr class="even"> 
		<td>36</td>
		<td>Refrigeração Lima</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>37</td>
		<td>Stillus Modas</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>38</td>
		<td>Sono Mais</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>39</td>
		<td>Impacto do Brasil Pipas</td>
		<td></td>
	</tr>
</table>

<br /><br />
<!-- TABELA EXPOSITORES INFERIOR -->
<table border="0" class="superior">
	<tr>
		<td></td>
		<th>Expositor parte inferior</th>
		<th>Cidade</th>
	</tr>
	<tr class="even">
		<td>01</td>
		<td>Imprensa</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>02</td>
		<td>Espaço Modas</td>
		<td>Erechim</td>
	</tr>
	<tr class="even">
		<td>03</td>
		<td>Secretaria de Turismo de Machadinho</td>
		<td>Machadinho</td>
	</tr>
	<tr class="odd">
		<td>04</td>
		<td>Calçados Novo Hamburgo</td>
		<td>Novo Hamburgo</td>
	</tr>
	<tr class="even">
		<td>05</td>
		<td>Eletrosat</td>
		<td>Tapejara</td>
	</tr>
	<tr class="odd">
		<td>06</td>
		<td>Jose Americo</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>07</td>
		<td>CIA da Camisa</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>08</td>
		<td>Calçados Novo Hamburgo</td>
		<td>Novo Hamburgo</td>
	</tr>
	<tr class="even">
		<td>09</td>
		<td>Athena Biju</td>
		<td>Passo Fundo</td>
	</tr>
	<tr class="odd">
		<td>10</td>
		<td>Maisy Confecções</td>
		<td>Tapejara</td>
	</tr>
	<tr class="even">
		<td>11</td>
		<td>Laços e Rendas</td>
		<td>Erechim</td>
	</tr>
	<tr class="odd">
		<td>12</td>
		<td>Tezão by Best</td>
		<td>Erechim</td>
	</tr>
	<tr class="even">
		<td>13</td>
		<td>Tezão by Best</td>
		<td>Erechim</td>
	</tr>
	<tr class="odd">
		<td>14</td>
		<td>Emater</td>
		<td>Ibiaçá</td>
	</tr>
</table>
<!-- FIM TABELA EXPOSITORES INFERIOR -->

<br /><br />
<table border="0" class="superior">
	<tr>
		<td></td>
		<th>Expositores parte interna</th>
		<th>Cidade</th>
	</tr>
	<tr class="even">
		<td>01</td>
		<td>Aral Cabinas</td>
		<td>Tapejara</td>
	</tr>
	<tr class="odd">
		<td>02</td>
		<td>Gigio Automóveis</td>
		<td>Tapejara</td>
	</tr>
	<tr class="even">
		<td>03</td>
		<td>Gigio Automóveis</td>
		<td>Tapejara</td>
	</tr>
	<tr class="odd">
		<td>06</td>
		<td>Retífica ZZ</td>
		<td>São João da Urtiga</td>
	</tr>
	<tr class="even">
		<td>08</td>
		<td>Acesso</td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>09</td>
		<td>Acesso</td>
		<td></td>
	</tr>
	<tr class="even">
		<td>12</td>
		<td>Agropecuária Oliboni</td>
		<td>Ibiaçá</td>
	</tr>
	<tr class="odd">
		<td>15</td>
		<td>Jhon Deere - Verdes Pampas</td>
		<td>Horizontina</td>
	</tr>
	<tr class="even">
		<td>16</td>
		<td>Jhon Deere - Verdes Pampas</td>
		<td>Horizontina</td>
	</tr>
	<tr class="odd">
		<td>17</td>
		<td>Agropal</td>
		<td>Sananduva</td>
	</tr>
	<tr class="even">
		<td>18</td>
		<td>Ben Hur Automóveis</td>
		<td>Ibiaçá</td>
	</tr>
	<tr class="odd">
		<td>19</td>
		<td>Santini Implementos</td>
		<td>Sananduva</td>
	</tr>
	<tr class="even">
		<td>22</td>
		<td>Conrad Caminhões</td>
		<td>Caxias do Sul</td>
	</tr>
	<tr class="odd">
		<td>23</td>
		<td>New Holland - Charuto Representações</td>
		<td>Erechim</td>
	</tr>
	<tr class="even">
		<td>24</td>
		<td>New Holland - Charuto Representações</td>
		<td>Erechim</td>
	</tr>
</table>

</div>
<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>
