<div id="pnlHistorico">
<h2 class="style_titles">Histórico</h2><br />

<p>A ACISAI foi fundada em Assembléia Geral Ordinária do Clube de Diretores Lojistas de Ibiaçá (RS), realizada em 08/06/2006, que por decisão unânime dos presentes passou a denominar-se: ASSOCIAÇÃO COMERCIAL, INDUSTRIAL, DE SERVIÇOS E AGROPECUÁRIA DE IBIAÇÁ – ACISAI.</p><br />

				
		<h3>Primeira Diretoria</h3>
		A primeira Diretoria, eleita por aclamação, foi assim constituida:
		<li>Presidente: Gilmar Zanella</li>
		<li>Vice - presidente: Alexandre Zanini.</li> 
		<li>Conselho da Indústria e Comércio: Vital Roque Scarsi</li>
		<li>Prestação de Serviços: Marcos Zanini </li>
		<li>Conselho de agropecuária: Rosnei Luís Santini</li>
		<li>Conselho de Finanças e Patrimônio: Nelson Pelliser</li>
		<li>Conselho Social: Delma Rech e Lúcia Zanella </li>
		<li>Conselho da Secretaria: Adriana Biondo</li>
		<li>Conselho Fiscal Titular: Luís Ari Picolotto. Davi Pedro Pellin e Carine Mazzuti</li>
		<li>Suplentes: Paulo Sérgio Rossi, Deise Regina Tassi e Débora Pellin.</li>
</div>
<br />
<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>
