<div id="esquerda">
  <h2 class="style_titles">Saúde Mais</h2><br />

		<%= image_tag("saudemais.png", :class => "natal-index") %>
	
</div>

<div id="direita">
	<h2 class="style_titles_notices">Notícias Acisai</h2><br />
	<%= render :partial => "noticia" %>
	
	<br /><br />
	<%= link_to "Cadastro Saúde Mais", new_register_path, :class => "saude_mais_novo" %>

	<div id="pnlEndeavor">
	  <div class="topo-endeavor">
	    <b><small>Palestras - Debates - Workshops</small></b><br />
	  </div> <br />
	  <p><%= link_to image_tag("endeavor.jpg", :align => "left", :border => "0"), "http://www.endeavor.org.br/" %></p>
	</div>


</div>

<div class="clear"></div>