<%= title "Organização" %>
<h2 class="style_titles">Organização</h2><br />
<div id="pnlOrganizacao">

	<p class="text_align_left" align="justify">
	A EXPO IBIAÇÁ acontece a cada 02 anos, e nessa edição será realizada de 20 a 22 de Novembro, paralela a semana do município. Conta com mais de 60 espaços internos e externos distribuídos entre os setores do comércio, indústria, artesanato, agropecuária e produtos diversos. A totalidade destes espaços é utilizada durante a feira por micro, pequenas, médias e grandes empresas que aproveitam a oportunidade para expor e comercializar seus produtos. A edição de 2009 tem como slogan “Grandes negócios esperam por você”, pois nessa edição a feira contara com mais de 60 expositores que trarão para a feira aproximadamente 1000 itens da indústria, comércio e serviços, gerando realmente grandes oportunidades de negócios. A diversidade de interesses do público que visita a feira é muito grande, oriundos de toda a grande região nordeste do Rio Grande do Sul, estima-se que mais de 10.000 pessoas passem pela IX EXPOIBIAÇÁ. Para confirmar o sucesso do evento, está sendo preparada uma ampla campanha de marketing através da qual a feira será divulgada para mais de meio milhão de pessoas, através de materiais impressos, internet, rádio e TV. Outro destaque é o pavilhão da gastronomia, com praça de alimentação própria e restaurante completo junto à exposição. Tudo isso somado há uma diversificada agenda de shows, escolhida cuidadosamente, a fim de atrair um publico diferenciado a feira. Visitantes e Expositores, juntem-se a nós na EXPO IBIAÇÁ 2009, pois grandes negócios esperam por você. 
	</p>

	<br />

	<b>Objetivos</b>
		<li>Estimular negócios e ampliar a rede de relacionamentos.</li>
		<li>Destacar o associativismo, mostrando a contribuição do seu trabalho para<br /> o desenvolvimento regional.</li>
		<li>Proporcionar a capacitação do empreendedor baseado-se em experiências<br /> práticas, contribuindo com a sua manutenção no mercado.</li>
	<br /><br />

	<%= image_tag("logo_feira.jpg", :class=> "align_logo_feira", :align => "right") %>

	<b>Organização</b>
	<p>
		<li><b>Daniel Fich de Almeida</b> – Presidente ACISAI<br /></li>
		<li><b>Marco Antonio Zanini</b> – Vice-presidente ACISAI<br /></li>
		<li><b>Luiz Angelo Luza</b> – Coordenadoria Administrativa<br /></li>
		<li><b>Ezequiel Rossi</b> - Infra-Estrutura<br /></li>
		<li><b>Márcio Fernandes</b> - Comunicação/Jornalismo<br /></li>
		<li><b>Tiago Gobetti Bueno</b> - Finanças e Contabilidade<br /></li>
		<li><b>Adroaldo Oliboni / Liane Santini</b> – Agropecuária<br /></li>
		<li><b>Roberto Nazaré Cavalli</b> - Cultura<br /></li>
		<li><b>Raqueli Do Nascimento</b> - Recepção e Informações<br /></li>
	</p>
	<br />
	<b>Dados de Identificação</b>
	<p class="text_align_left">
		ExpoIbiaçá  – Feira Comercial, Industrial, de Serviços e Agropecuária de Ibiaçá<br />
		Edição: 9ª Edição<br />
		Data de realização: 20 a 22 de Novembro de 2009<br />
		Local: Praça Municipal de Ibiaçá/Salão Paroquial<br />
		Município: Ibiaçá/RS<br />
		CEP: 99940-000<br />
	</p>
	<br />
	<b>Classificação do Evento</b>
	<p class="text_align_left">
		Abrangência: Regional<br />
		Frequência: A cada 2 anos<br />
		Função estratégica: Empresarial<br />
		Área de interesse: Comercial<br />
		Perfil dos participantes: Profissional e Geral<br />
		Público estimado: 10.000 pessoas com entrada franca<br />
	</p>
	<br />
	<b>Entidade Promotora e Mantedora</b>
	<p class="text_align_left">
		Razão social: Associação Comercial, Industrial, de Serviços e Agropecuária de Ibiaçá<br />
		Nome Fantasia: ACISAI<br />
		CNPJ: 89.761.670/0001-34<br />
		Endereço: Rua do comércio, 14, sala 03<br />
		Bairro: Centro<br />
		Cidade: Ibiaçá<br />
		CEP: 99940-000<br />
		Fone/fax: (54) 3374-1239<br />
		Representante Legal: Daniel Fich de Almeida<br />
		Função: Presidente<br />
	</p>
	<br />
	<b>Entidades Envolvidas</b>
	<p class="text_align_left">
		Acisai<br />
		Prefeitura Muncipal de Ibiaçá
	</p>
</div>

<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>
