<%= title "Participação" %>
<div id="pnlParticipacao">
	<h2 class="style_titles">Participação</h2><br />
	
	<%= image_tag("participacao.jpg", :align => "left", :class => "img_sobre_border") %>
	
	<p class="texto_sobre_part">
	<li>Conselho municipal da saúde</li>
	<li>Conselho municipal dos direitos da criança e do adoloscente</li>
	<li>Conselho municipal do meio ambiente</li>
	<li>Conselho municipal da educação</li>
	</p>
</div>
<br />
<br />
<br />
<br />
<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>
