<h2 class="style_titles">Palavra do Presidente</h2><br />

<h3>O que fazer com uma boa idéia?</h3><br>
  <div id="pnlSobre">
<p>
    Quase todos acalentamos idéias e projetos de negócios. Alguns convivem com eles por toda a vida, como uma espécie de sonho. Muitos, por conta de hesitações ou falta de oportunidade, não os vêem realizados, o que, sem duvida, é frustrante. Outros encontram o caminho da realização e os concretizam. Se você for assediado por uma boa idéia ou por um bom projeto de negócio, o que fazer? Como reconhecer os bons negócios?
    Boas idéias e projetos precisam, antes de tudo, de disposição empresarial. Empreender é o nome do verbo que comanda as ações de negócio. Pessoalmente, não creio que a disposição de empreender seja destino ou vocação. Porém, não podemos negar que existem situações em que o acaso interfere.
    Pelo que se pode constatar do desempenho dos grandes empresários, no início, o que importa mesmo, é a força de vontade em fazer do projeto uma realidade.
    Uma boa idéia, é óbvio, começa com sua verbalização. É simples. Se for boa, pode ser facilmente exposta, oralmente ou no papel, em forma de projeto. E a melhor maneira de verificar a sua coerência é apresentá-la ao juízo dos outros. Quem são os outros? Seus pais, esposa (o), namorada (o), vizinho (a). Se você conseguir apresentar sua idéia de maneira a atrair a atenção deles e tiver suficiente cuidado em ouvir as ponderações e críticas que fizerem, verificará, pelo resultado da sua primeira "pesquisa", se está ou não no melhor caminho para empreender.
    Se realmente a idéia persistir, o melhor a fazer é procurar, antes de qualquer outra iniciativa, uma mínima capacitação empresarial.
    É difícil encontrar orientações para futuros empreendedores? Claro que não. É necessária formação escolar, experiência ou qualificação especial? Também não.
    Se você for perseguido por uma boa idéia ou projeto de negócio, procure, entre outras instituições como a ACISAI ou SEBRAE. Você encontrará seguras informações sobre capacitação empresarial, e se sua vontade de empreender persistir e você tiver em mão um bom projeto, sem dúvida será o inicio de uma longa história de sucesso.
</p><br><br>
<b>DANIEL FICH DE ALMEIDA</b><br />
<i>Presidente da Associação Comercial, Industrial, de Serviços e Agropecuária de Ibiaçá - ACISAI</i>

  </div>

<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>