<div class="saude-center">
<%= lightbox_image_tag( "prog_1_small.jpg", "/images/prog_1.jpg", :rel => "lightbox[group]") %>

<%= lightbox_image_tag("prog_2_small.jpg", "/images/prog_2.jpg") %>
</div>
<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>

