<%= title "Representatividade" %>
<h2 class="style_titles">Representatividade</h2><br />
<div id="pnlVisao">
	<br />
	<%= image_tag("representatividade.jpg", :align => "left", :class => "img_sobre_border") %>
	<p class="texto_sobre_representatividade">
		<span class="letra_inicial">A</span> ACISAI tem em seu quadro de associados mais de 50 empresas, essas por sua vez representam boa parte do comércio Ibiaçaense e além de gerarem um grande número de empregos são responsáveis pelo desenvolvimento comercial e industrial do município, contribuindo significativamente para a evolução do mesmo. Os sócios da Acisai sejam eles da industria, comercio, agronegócio ou profissionais liberais, tem a sua disposição uma entidade disposta a fomentar a vocação empreendedora de forma geral. </p>	
	</p>
</div>

<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>
