<%= title "Visão" %>
<h2 class="style_titles">Visão</h2><br />
<div id="pnlVisao">
	<br />
	<%= image_tag("visao.jpg", :align => "left", :class => "img_sobre_border") %>
<p class="texto_sobre">
		<span class="letra_inicial">B</span>uscar a excelência operacional, fomentar liderança no mercado econômico, comprometida com a sustentabilidade e orientada pelas necessidades dos associados, interagindo entre os poderes instituídos, buscando o crescimento econômico, social e cultural. 

<div class="pnlTextoVisao">
	<h3>Missão</h3>
 Ser uma entidade representativa da indústria, comércio, serviços e agropecuária, oferecendo  através da associação opções rápidas e inovadoras, objetivando a sua defesa e desenvolvimento, sob a luz da livre iniciativa, da economia de mercado, das liberdades individuais, resultando no desenvolvimento social, cultural e humano do cidadão e da comunidade.<br><br>
 
<h3>Valores</h3>
<div id="pnlValores">
	<li>Estímulo à legalidade</li>
	<li>Transparência</li>
	<li>Exercício da cidadania</li>
	<li>Busca da excelência</li>
	<li>Respeito aos valores humanos</li>
	<li>Fortalecer a livre iniciativa e economia de mercado</li>
	<li>Observar os valores éticos</li>
	<li>Contínua melhoria da qualidade dos produtos e serviços</li>
	<li>Preservar a imagem conquistada</li>
	<li>Ser pró-ativa</li>
	<li>Respeito e valorização aos clientes internos e externos</li>
	<li>Respeito e Desenvolvimento de Pessoas</li>
</div><br><br>
</div>
</div>
<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>
