<h3>Contato do site (<%= "#{@sent_on.strftime("%d de %B de %Y") }" %>)</h3>
<%= "<b><i>#{@contact_nome}</i></b> deixou um mensagem em acisai.com" %><br><br>
<hr>

<b>Mensagem</b><br>

<%= @contact_mensagem %><br><br>
<hr>
<small> Email gerado por: <b> http://acisai.com </b></small>
